.dashboardQuiz {

}
.containerBoard {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 50px;
  justify-content: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
