@use '/src/app/GlobalStyles/media' as *;

.progressContainer {
  background: var(--color-light);
  padding: 0 20px 20px;
  position: relative;

  @include mobile {
    padding: 0 14px 14px;
  }
}

.progressBar {
  height: 8px;
  background: var(--color-quiz-progress-bg);
  border-radius: 4px;
  transition: width var(--transition-duration) ease;
}
.progressInfo {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.progressInfoText {
}

.progressInfoScore {
}
