.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.stats {
  display: flex;
  flex-direction: row;
  gap: 20px; 

  > div {
    flex: 1;
    min-width: 0; 
  }
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px; 
  font-size: 14px; 
  font-weight: 500; 

  input,
  select,
  textarea {
    width: 100%;
  }
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
