.card {
  background: white;
  border-radius: 20px;
  padding: 24px;
}

.title {
  font-size: 24px;
  margin-bottom: 24px;
}

.field {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 8px;
  }
}
