.avatarBlock {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 24px;
}
.buttonBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 24px;
}
.sizePhoto {
  font-size: 14px;
  color: var(--color-gray-text);
}
.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: var(--blue-900);
  object-fit: cover;
}

.uploadBtn {
  border: 1px solid #d1d5db;
  background: white;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
}
.error {
  display: block;
  font-size: 0.75rem;
  color: var(--color-red-text);
  margin-top: var(--spacing-xs);
}
