.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-dark);
  color: var(--color-light);
  min-height: 240px;
  border-radius: 0 0 var(--border-radius-large) var(--border-radius-large);
  border: solid var(--color-dark);
  margin-bottom: 15px;
}
.header__logo {
  font-size: 40px;
  font-weight: bold;
  color: inherit;
}
.header__UserName {
  font-size: 40px;
  color: inherit;
}
