// Header.module.scss
@use '../../app/GlobalStyles/media';
@use '../../app/GlobalStyles/mixins';

.headerContainer {
  width: 100%;
  background-color: var(--color-light);
  border-bottom: 1px solid var(--color-header-border);
  color: var(--color-header-text);
}

.headerInner {
  display: flex;
  margin: auto;
  padding: 1rem 1rem;
  max-width: 1280px;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
}

.logoIcon {
  width: 40px;
  height: 40px;
  background-color: var(--color-blue);
  border: solid 1px var(--color-blue);
  border-radius: var(--border-radius-small);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-light);
  font-weight: 700;
}

.logoTitle {

}

.user {
  color: inherit;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.userLink {

}

.userButton {
  // потом вынести кнопку это в ui
  padding: 5px 10px;
  background-color: var(--color-dark);
  border: solid 1px var(--color-dark);
  color: var(--color-light);
  border-radius: var(--border-radius-small);
  cursor: pointer;
  transition: all 0.15s ease;

  &:hover {
    opacity: 0.8;
  }
}

.userIcon {
  color: var(--color-user-icon);
}

.userText {
  
}
