.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: var(--color-dark);
  color: var(--color-light);
  width: 100%;
  min-height: 240px;
  border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
  border: solid var(--color-dark);
}
