.logo {
  font-size: 20px;
  font-weight: bold;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
}

.logoIcon {
  width: 40px;
  height: 40px;
  background-color: var(--color-blue);
  border: solid 1px var(--color-blue);
  border-radius: var(--border-radius-small);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-light);
  font-weight: 700;
}