.question {
}
.answer {
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  border-width: 1px;
  background-color: aqua;
  height: 10vw;
  width: 100%;
}
.container_quiz {
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  border-width: 1px;
  background-color: aqua;
  height: 45vw;
  width: 100%;
  
}
.aaaaa {
  display: flex;
  justify-content: center;
}
.container_question {
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  border-width: 1px;
  background-color: aqua;
  height: 20vw;
  width: 100%;
}
