// UserAction.module.scss

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.filterText {
  font-size: 16px;
  color: #4b5563;
}

.toolsIcon {
  transition: all 0.2s ease;

  &:hover {
    transform: rotate(90deg);
  }
}
