.CustomSmallButton {
  border-color: black;
  border-radius: 7px;
  border-width: 1px;
  color: white;
  background-color: green;
  height: 75px;
  width: 100px;
}
.CustomSmallButton:hover {
  background: #444;
}
